__author__ = 'Mateusz'

SECRET_KEY = '**************************'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '*****',
        'USER': '*****',
        'PASSWORD': '*****',
        'HOST': '*****',
        'PORT': '*****',
    }
}

MY_LOCAL_SETTINGS = True