{%verbatim%}
<!-- TOP -->
<!-- <div ng-include src="'campaign/header'"></div>	 -->
<div style="text-align:right;">
	<a href="#/campaigns"class="btn btn-primary" role="button">CLOSE EDIT</a>	
	<hr><br><br>
</div>

<!-- LEFT -->
<!-- <div ng-include src="'campaign/menu'"></div> -->
<div class="leftColumn"  style="width:25%">
	<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/basic/"}} class="btn btn-default" style="width:100%" role="button">Basic informations</a>
	<br><br>
	<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/ads/"}} ng-show="actionsCtrl.campaignID>0" class="btn btn-default" style="width:100%" role="button">Advertisements</a>
	<br><br>
	<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/actions/"}} ng-show="actionsCtrl.campaignID>0" class="btn btn-primary" style="width:100%" role="button">Actions</a>
	<br><br>
	<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/awards/"}} ng-show="actionsCtrl.campaignID>0" class="btn btn-default" style="width:100%" role="button">Awards</a>
	<br><br>
	<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/beacons/"}} ng-show="actionsCtrl.campaignID>0" class="btn btn-default" style="width:100%" role="button">Beacons</a>
	<br><br>
</div>

<!-- RIGHT -->
<div class="rightColumn"  style="width:75%">
	
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">#</th>
				<th width="20%">Beacons</th>
				<th width="20%">Ad</th>
				<th width="10%">Points</th>
				<th width="20%">Time limit</th>
				<th width="20%">Options</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="action in actionsCtrl.actionsList">
				<th scope="row">{{  $index + (actionsCtrl.actionsCurrentPage * 5) - 4 }}</th>
				<td>{{action.beacon}}</td>
				<td>{{action.ad}}</td>
				<td>{{action.points}}</td>
				<td>{{action.time_limit}}</td>
				<td>
					<a href={{"#/campaigns/"+actionsCtrl.campaignID+"/actions/"+action.id}} class="btn btn-info btn-sm" role="button">EDIT</a>
					<button type="button" class="btn btn-danger btn-sm" ng-click="actionsCtrl.deleteAction(action.id, $index)">REMOVE</button>
				</td>
			</tr>		
		</tbody>
	</table>

	<br><br>

	<nav>
	  <ul class="pagination" ng-show="actionsCtrl.actionsPages.length>0">
	  	<li ng-click="actionsCtrl.actionsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	  	<li ng-repeat="number in actionsCtrl.actionsPages" class="{{actionsCtrl.actionsNavActive(number)}}" id="actionsCtrl.actionsNav{{number}}" ng-click="actionsCtrl.getActions(number)">
	  		<a>{{number}}</a>
	  	</li>
	  	<li ng-click="actionsCtrl.actionsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	    
	  </ul>
	</nav>
	<a href={{"#/campaigns/"+actionsCtrl.id+"/actions/0"}} style="float:right;" class="btn btn-success" role="button">ADD ACTION</a>
	
</div>
{%endverbatim%}