
{%verbatim%}
<!-- TOP -->
<div style="text-align:right;">
	<button class="btn btn-primary" ng-click="">CLOSE EDIT</button>
	<button class="btn btn-danger" ng-click="">DISMISS</button>
	<button class="btn btn-success" ng-click="cc.save()">SAVE</button>
	<hr><br><br>
</div>

<!-- LEFT -->
<div class="leftColumn"  style="width:25%">
	<uib-tabset vertical="true" type="pills">
		<uib-tab heading="Basic informations" ng-click="cc.showPage(0)"></uib-tab>
		<uib-tab heading="Advertisements" ng-click="cc.showPage(1)"></uib-tab>
		<uib-tab heading="Scenarios" ng-click="cc.showPage(2)"></uib-tab>
		<uib-tab heading="Awards" ng-click="cc.showPage(3)"></uib-tab>
	</uib-tabset>
</div>


<!-- RIGHT -->
<div class="rightColumn"  style="width:75%">
	<!-- BASIC -->
	<div ng-show="cc.pageVisibility[0]">
		<form style="margin-left:auto; margin-right:auto;">
			<label>Name:</label>
			<input type="text" class="form-control" placeholder="Name" ng-model="cc.basic.name">
			<br>
			<label>Start date:</label>
			<input type="text" class="form-control" placeholder="YYYY-MM-DDThh:mm" ng-model="cc.basic.start_date">
			<br>
			<label>End date:</label>
			<input type="text" class="form-control" placeholder="YYYY-MM-DDThh:mm" ng-model="cc.basic.end_date">
			<br>
			<label>Active:</label>
			<input type="checkbox" ng-model="oneAtATime">
		</form>
	</div>
	<!-- ADS -->
	<div ng-show="cc.pageVisibility[1]">
		ADS
	</div>
	<!-- SCENARIOS -->
	<div ng-show="cc.pageVisibility[2]">
		SCE
	</div>
	<!-- AWARDS -->
	<div ng-show="cc.pageVisibility[3]">
		AWARDS
	</div>

</div>
{%endverbatim%}