<!-- TOP -->
<div style="text-align:right;">
	<button class="btn btn-primary" ng-click="">CLOSE EDIT</button>
	<button class="btn btn-danger" ng-click="">DISMISS</button>
	<button class="btn btn-success" ng-click="">SAVE</button>
	<hr><br><br>
</div>

<!-- LEFT -->
<div class="leftColumn"  style="width:25%">
	<uib-tabset vertical="true" type="pills">
		<uib-tab heading="Basic informations"></uib-tab>
		<uib-tab heading="Advertisements"></uib-tab>
		<uib-tab heading="Scenarios"></uib-tab>
		<uib-tab heading="Awards"></uib-tab>
	</uib-tabset>
</div>


<!-- RIGHT -->
<div class="rightColumn"  style="width:75%">
	CONTENT
</div>