{%verbatim%}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div style="float:left;">
                        <div style="float:right;">
                            <input type="number" class="form-control" min="0" max="20" placeholder="0" ng-model="cBeaconsCtrl.numberOfNewBeacons" style="width:100px; float: left; margin-right:10px;">
                            <button style="display: inline-block;" type="button" class="btn btn-primary" ng-click="cBeaconsCtrl.generateBeacons()">GENERATE BEACONS</button>
                        </div>
                    </div>
                    <br><br><br>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thebeacon>
                        <tr>
                            <th>Minor</th>
                            <th>Major</th>
                            <th>Options</th>
                        </tr>
                        </thebeacon>
                        <tbody>
                        <tr ng-repeat="beacon in cBeaconsCtrl.beaconsList">
                            <td>{{beacon.minor}}</td>
                            <td>{{beacon.major}}</td>
                            <td>
                                <a class="close-link" ng-click="cBeaconsCtrl.deleteBeacon(beacon.id)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div style="float: left" class="dataTables_info" role="status" aria-live="polite">
                            <div ng-show="cBeaconsCtrl.numberOfBeaconsItems>0">Showing {{cBeaconsCtrl.beaconsCurrentPage*cBeaconsCtrl.perPage-cBeaconsCtrl.perPage+1}} to {{cBeaconsCtrl.beaconsCurrentPage*cBeaconsCtrl.perPage>cBeaconsCtrl.numberOfBeaconsItems?cBeaconsCtrl.numberOfBeaconsItems:cBeaconsCtrl.beaconsCurrentPage*cBeaconsCtrl.perPage}} of {{cBeaconsCtrl.numberOfBeaconsItems}} entries</div>
                            <div ng-hide="cBeaconsCtrl.numberOfBeaconsItems>0">There are no any Beacons</div>
                        </div>
                        
                        <nav style="float: right">
                            <ul class="pagination" ng-show="cBeaconsCtrl.beaconsPages.length>0">
                                <li ng-click="cBeaconsCtrl.beaconsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li ng-repeat="number in cBeaconsCtrl.beaconsPages" class="{{cBeaconsCtrl.beaconsNavActive(number)}}" id="cBeaconsCtrl.beaconsNav{{number}}" ng-click="cBeaconsCtrl.getBeacons(number)">
                                    <a>{{number}}</a>
                                </li>
                                <li ng-click="cBeaconsCtrl.beaconsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endverbatim%}