{%verbatim%}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Action informations</h5>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">ID</label>
                            <div class="col-sm-10"><input disabled type="text" class="form-control" ng-model="cActionCtrl.action.id"></div>
                        </div>
                        <div class="form-group" id="points"><label class="col-sm-2 control-label">Points</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="cActionCtrl.action.points" ng-click="cActionCtrl.toast.removeError('points')"></div>
                        </div>
                        <div class="form-group" id="time_limit"><label class="col-sm-2 control-label">Time limit</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="cActionCtrl.action.time_limit" ng-click="cActionCtrl.toast.removeError('time_limit')"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Beacon</label>
                            <div class="col-sm-10"><input disabled type="text" class="form-control" ng-model="cActionCtrl.action.beacon"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Ad</label>
                            <div class="col-sm-10"><input disabled type="text" class="form-control" ng-model="cActionCtrl.action.ad"></div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" style="text-align: right">
                        <button class="btn btn-warning" ng-click="cActionCtrl.dismiss()">DISMISS</button>
                        <button class="btn btn-primary" ng-click="cActionCtrl.save()">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Beacons</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover ">
                        <thead>
                            <tr>
                                <th>Used</th>
                                <th>Minor</th>
                                <th>Major</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="beacon in cActionCtrl.beaconsList">
                            <td>
                                <a class="close-link" ng-show="beacon.id==cActionCtrl.action.beacon"><i class="fa fa-check"></i></a>
                            </td>
                            <td>{{beacon.minor}}</td>
                            <td>{{beacon.major}}</td>
                            <td>
                                <a class="close-link" ng-hide="beacon.id==cActionCtrl.action.beacon" ng-click="cActionCtrl.useNewBeacon(beacon.id)"><i class="fa fa-plus"></i></a>
                                <a class="close-link" ng-show="beacon.id==cActionCtrl.action.beacon" ng-click="cActionCtrl.removeNewBeacon()"><i class="fa fa-minus"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div style="float: left" class="dataTables_info" role="status" aria-live="polite">
                            <span ng-show="cActionCtrl.numberOfBeaconsItems>0">Showing {{cActionCtrl.beaconsCurrentPage*cActionCtrl.perPage-cActionCtrl.perPage+1}} to {{cActionCtrl.beaconsCurrentPage*cActionCtrl.perPage>cActionCtrl.numberOfBeaconsItems?cActionCtrl.numberOfBeaconsItems:cActionCtrl.beaconsCurrentPage*cActionCtrl.perPage}} of {{cActionCtrl.numberOfBeaconsItems}} entries</div></span>
                        <span ng-hide="cActionCtrl.numberOfBeaconsItems>0">There are no any Beacons</span>
                        <nav style="float: right">
                            <ul class="pagination" ng-show="cActionCtrl.beaconsPages.length>0">
                                <li ng-click="cActionCtrl.beaconsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li ng-repeat="number in cActionCtrl.beaconsPages" class="{{cActionCtrl.beaconsNavActive(number)}}" id="cActionCtrl.beaconsNav{{number}}" ng-click="cActionCtrl.getBeacons(number)">
                                    <a>{{number}}</a>
                                </li>
                                <li ng-click="cActionCtrl.beaconsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Advertisements</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover ">
                        <thead>
                        <tr>
                            <th>Used</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Type</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="ad in cActionCtrl.adsList">
                            <td>
                                <a class="close-link" ng-show="ad.id==cActionCtrl.action.ad"><i class="fa fa-check"></i></a>
                            </td>
                            <td>{{ad.title}}</td>
                            <td>{{ad.description}}</td>
                            <td>{{cActionCtrl.absUtils.getTypeNameFromNumber(ad.type)}}</td>
                            <td>
                                <a class="close-link" ng-hide="ad.id==cActionCtrl.action.ad" ng-click="cActionCtrl.useNewAd(ad.id)"><i class="fa fa-plus"></i></a>
                                <a class="close-link" ng-show="ad.id==cActionCtrl.action.ad" ng-click="cActionCtrl.removeNewAd()"><i class="fa fa-minus"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <div style="float: left" class="dataTables_info"  role="status" aria-live="polite">
                            <span ng-show="cActionCtrl.numberOfAdsItems>0">Showing {{cActionCtrl.adsCurrentPage*cActionCtrl.perPage-cActionCtrl.perPage+1}} to {{cActionCtrl.adsCurrentPage*cActionCtrl.perPage>cActionCtrl.numberOfAdsItems?cActionCtrl.numberOfAdsItems:cActionCtrl.adsCurrentPage*cActionCtrl.perPage}} of {{cActionCtrl.numberOfAdsItems}} entries</div></span>
                        <span ng-hide="cActionCtrl.numberOfAdsItems>0">There are no any Ads</span>
                        <nav style="float: right">
                            <ul class="pagination" ng-show="cActionCtrl.adsPages.length>0">
                                <li ng-click="cActionCtrl.adsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li ng-repeat="number in cActionCtrl.adsPages" class="{{cActionCtrl.adsNavActive(number)}}" id="cActionCtrl.adsNav{{number}}" ng-click="cActionCtrl.getAds(number)">
                                    <a>{{number}}</a>
                                </li>
                                <li ng-click="cActionCtrl.adsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{%endverbatim%}