{%verbatim%}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Promotion informations</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="cPromotionCtrl.promotion.title"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Description</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="cPromotionCtrl.promotion.description"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Points</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="cPromotionCtrl.promotion.points"></div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" style="text-align: right">
                        <button class="btn btn-warning" ng-click="cPromotionCtrl.dismiss()">DISMISS</button>
                        <button class="btn btn-primary" ng-click="cPromotionCtrl.save()">SAVE</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Photo</h5>
                </div>
                <div class="ibox-content">

                    <div style="text-align:center;" ng-show="cPromotionCtrl.promotion.id>0" >
                        <div style="text-align:center;" ng-hide="cPromotionCtrl.promotion.image!=null">
                            No image.
                        </div>
                        <div ng-show="cPromotionCtrl.promotion.image!=null" class="cropArea" style="text-align: center!important;">
                            <img-crop
                                    image="cPromotionCtrl.promotion.image"
                                    result-image="cPromotionCtrl.myCroppedImage"
                                    area-type="square"
                                    area-min-size="300"
                                    result-image-size=300 >
                            </img-crop>
                        </div>
                        <br>
                        <div class="sk-spinner sk-spinner-cube-grid" ng-show="cPromotionCtrl.processingPhoto">
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                            <div class="sk-cube"></div>
                        </div>
                        <br><br><br>
                        <button class="btn btn-success" type="file" ngf-select="cPromotionCtrl.uploadFiles($file)" accept="image/*">UPLOAD NEW PHOTO</button>
                        <button class="btn btn-primary" ng-click="cPromotionCtrl.saveFile()" accept="image/*">SAVE</button>
                    </div>
                    <div style="text-align:center;" ng-hide="cPromotionCtrl.promotion.id>0">
                        Save promotion to show upload photo option.
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{%endverbatim%}