{%verbatim%}
<!-- TOP -->
<!-- <div ng-include src="'campaign/header'"></div>	 -->
<div style="text-align:right;">
	<a href="#/campaigns" class="btn btn-primary" role="button">CLOSE EDIT</a>
	<hr><br><br>
</div>

<!-- LEFT -->
<!-- <div ng-include src="'campaign/menu'"></div> -->
<div class="leftColumn"  style="width:25%">
	<a href={{"#/campaigns/"+awc.id+"/basic/"}} class="btn btn-default" style="width:100%" role="button">Basic informations</a>
	<br><br>
	<a href={{"#/campaigns/"+awc.id+"/ads/"}} ng-show="awc.id>0" class="btn btn-default" style="width:100%" role="button">Advertisements</a>
	<br><br>
	<a href={{"#/campaigns/"+awc.id+"/actions/"}} ng-show="awc.id>0" class="btn btn-default" style="width:100%" role="button">Actions</a>
	<br><br>
	<a href={{"#/campaigns/"+awc.id+"/awards/"}} ng-show="awc.id>0" class="btn btn-primary" style="width:100%" role="button">Awards</a>
	<br><br>
	<a href={{"#/campaigns/"+awc.id+"/beacons/"}} ng-show="awc.id>0" class="btn btn-default" style="width:100%" role="button">Beacons</a>
	<br><br>
	<a href={{"#/campaigns/"+awc.id+"/promotions/"}} ng-show="awc.id>0" class="btn btn-default" style="width:100%" role="button">Promotions</a>
	<br><br>
</div>

<!-- RIGHT -->
<div class="rightColumn"  style="width:75%">
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">#</th>
				<th width="30%">Title</th>
				<th width="30%">Desciption</th>
				<th width="10%">Points</th>
				<th width="20%">Options<th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="award in awc.awardsList">
				<th scope="row">{{  $index + (awc.awardsCurrentPage * 5) - 4 }}</th>
				<td>{{award.title}}</td>
				<td>{{award.description}}</td>
				<td>{{award.points}}</td>
				<td>
					<a href={{"#/campaigns/"+awc.id+"/awards/"+award.id}} class="btn btn-info btn-sm" role="button">EDIT</a>
					<button type="button" class="btn btn-danger btn-sm" ng-click="awc.deleteAward(award.id, $index)">REMOVE</button>
				</td>
			</tr>		
		</tbody>
	</table>

	<br><br>

	<nav>
	  <ul class="pagination" ng-show="awc.awardsPages.length>0">
	  	<li ng-click="awc.awardsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	  	<li ng-repeat="number in awc.awardsPages" class="{{awc.awardsNavActive(number)}}" id="awc.awardsNav{{number}}" ng-click="awc.getAwards(number)">
	  		<a>{{number}}</a>
	  	</li>
	  	<li ng-click="awc.awardsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	    
	  </ul>
	</nav>
	<a href={{"#/campaigns/"+awc.id+"/awards/0"}} style="float:right;" class="btn btn-success" role="button">ADD AWARDS</a>


</div>
{%endverbatim%}