{%verbatim%}
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">#</th>
				<th width="20%">Title</th>
				<th width="20%">Minor</th>
				<th width="30%">Major</th>
				<th width="20%">Options<th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="beacon in beaconsCtrl.beaconsList">
				<th scope="row">{{  $index + (beaconsCtrl.beaconsCurrentPage * 5) - 4 }}</th>
				<td>{{beacon.title}}</td>
				<td>{{beacon.minor}}</td>
				<td>{{beacon.major}}</td>
				<td>
					<a href={{"#/beacons/"+beacon.id}} class="btn btn-info btn-sm" role="button">EDIT</a>
					<button type="button" class="btn btn-danger btn-sm" ng-click="beaconsCtrl.deleteBeacon(beacon.id, $index)">REMOVE</button>
				</td>
			</tr>		
		</tbody>
	</table>

	<br><br>

	<nav>
	  <ul class="pagination" ng-show="beaconsCtrl.beaconsPages.length>0">
	  	<li ng-click="beaconsCtrl.beaconsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	  	<li ng-repeat="number in beaconsCtrl.beaconsPages" class="{{beaconsCtrl.beaconsNavActive(number)}}" id="beaconsCtrl.beaconsNav{{number}}" ng-click="beaconsCtrl.getBeacons(number)">
	  		<a>{{number}}</a>
	  	</li>
	  	<li ng-click="beaconsCtrl.beaconsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	    
	  </ul>
	</nav>
	<a href="#/beacons/0" style="float:right;" class="btn btn-success" role="button">ADD BEACON</a>

</div>
{%endverbatim%}
