<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "templates/Panel/panel.css" %}">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src={% static "templates/Panel/Dashboard/dashboard_controller.js" %}></script>
</head>

<body ng-app="app-auth" ng-controller="app-controller">
{%verbatim%}
<div class="container">
<button class="btn btn-link" style="float: right;" ng-click="logout()">LOGOUT</button>
<h1>Dashboard</h1>
<br><br>
<ul class="nav nav-tabs">
  <li role="presentation" id="nav1" class="active" ng-click="changeTab(1)"><a href="#">Beacons</a></li>
  <li role="presentation" id="nav2" ng-click="changeTab(2)"><a href="#">Campaigns</a></li>
  <li role="presentation" id="nav3" ng-click="changeTab(3)"><a href="#">Profile</a></li>
  <li role="presentation" id="nav4" ng-click="changeTab(4)"><a href="#">Places</a></li>
</ul>
<br><br>
<div ng-show="beaconsVisible" ng-include='"beacons"'></div>
<div ng-show="campaignsVisible" ng-include='"campaigns"'></div>
<div ng-show="profileVisible" ng-include='"profile"'></div>
<div ng-show="placesVisible" ng-include='"places"'></div>


</div>
{%endverbatim%}
</body>
</html>