{%verbatim%}
<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="place in places">
			<th scope="row">{{place.id}}</th>
			<td>{{place.name }}</td>
			<td>{{place.address}}</td>
		</tr>		
	</tbody>
</table>
<br><br>
<nav>
  <ul class="pagination" ng-show="placesPages.length>0">
  	<li ng-click="placesNavPrev()"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
  	<li ng-repeat="number in placesPages" class="{{placesNavActive(number)}}" id="placesNav{{number}}" ng-click="getPlaces(number)">
  		<a href="#">{{number}}</a>
  	</li>
  	<li ng-click="placesNavNext()"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    
  </ul>
</nav>

</div>
{%endverbatim%}