{%verbatim%}
<div>
	
	<form style="width:400px; margin-left:auto; margin-right:auto;">
		<label>First name:</label>
		<input type="text" class="form-control" placeholder="First name" ng-model="dpc.user.first_name">
		<br>
		<label>Last name:</label>
		<input type="text" class="form-control" placeholder="Last name" ng-model="dpc.user.last_name">
		<br>
		<hr>
		<label>Old password:</label>
		<input type="password" class="form-control" placeholder="Old password" ng-model="dpc.user.old_password">
		<br>
		<label>New password:</label>
		<input type="password" class="form-control" placeholder="New password" ng-model="dpc.user.password">
		<br>
		<hr>		
		<br>
		<button style="float:right;" class="btn btn-success" ng-click="dpc.pathUser()">SAVE</button>
	</form>

</div>
{%endverbatim%}