{%verbatim%}
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th width="10%">#</th>
				<th width="35%">Name</th>
				<th width="35%">Location</th>
				<th width="20%">Options<th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="shop in dsc.shopsList">
				<th scope="row">{{  $index + (dsc.shopsCurrentPage * 5) - 4 }}</th>
				<td>{{shop.name}}</td>
				<td>{{shop.address}}</td>
				<td>
					<a href={{"#/shops/"+shop.id}} class="btn btn-info btn-sm" role="button">EDIT</a>
					<button type="button" class="btn btn-danger btn-sm" ng-click="dsc.deleteShop(shop.id, $index)">REMOVE</button>
				</td>
			</tr>		
		</tbody>
	</table>

	<br><br>

	<nav>
	  <ul class="pagination" ng-show="dsc.shopsPages.length>0">
	  	<li ng-click="dsc.shopsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
	  	<li ng-repeat="number in dsc.shopsPages" class="{{dsc.shopsNavActive(number)}}" id="dsc.shopsNav{{number}}" ng-click="dsc.getShops(number)">
	  		<a>{{number}}</a>
	  	</li>
	  	<li ng-click="dsc.shopsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
	    
	  </ul>
	</nav>
	<a href="#/shops/0" style="float:right;" class="btn btn-success" role="button">ADD SHOP</a>

</div>
{%endverbatim%}