body {
	background-color: #fafafa;
	padding: 100px;
}

.container {
	background-color: #ffffff;	
	width: 100%;

	border-color: #e0e0e0;
	border-style: solid;
    border-width: 1px;

    padding: 30px;
}

.containerAuth {
	background-color: #ffffff;	
	width: 100%;

    padding: 30px;
}

.sideMenu {
    float: left;
}

.rightColumn {
    display: inline-block;
}

.leftColumn {
    float: left;    
}​​

.shit { }

.openHours {
	margin-left:20px;
	margin-top:20px;
	padding: 20px;
	border-color: #e0e0e0;
	border-style: solid;
    border-width: 1px;	
}
