<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
	<!-- CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static "global.css" %}">
	<!-- SCRIPTS -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.14/angular-route.js"></script>
	<script type="text/javascript" src="{% static "ui-bootstrap-tpls-0.14.3.js" %}"></script>
	<!-- CONTROLLERS -->
	<script src={% static "templates/Panel/panelController.js" %}></script>
</head>

<body ng-app="panelApp" ng-controller="panelController" >

	<uib-tabset justified="true">
		<uib-tab heading="Justified" select="alertMe()">Justified content</uib-tab>
		<uib-tab heading="SJ">Short Labeled Justified content</uib-tab>
		<uib-tab heading="Long Justified">Long Labeled Justified content</uib-tab>
	</uib-tabset>

	<div ng-view></div>
	
</body>
</html>