{%verbatim%} 
<!-- TOP -->
<div style="text-align:right;">
	<a href={{"#/campaigns/"+awardCtrl.campaignID+"/awards"}} class="btn btn-primary" role="button">CLOSE EDIT</a>
	<button class="btn btn-danger" ng-click="awardCtrl.dismiss()">DISMISS</button>
	<button class="btn btn-success" ng-click="awardCtrl.save()">SAVE</button>
	<hr><br><br>
</div>


<!-- LEFT -->
<div class="leftColumn"  style="width:50%">
	<label>Title: </label>
	<input type="text" class="form-control" placeholder="Title" ng-model="awardCtrl.award.title">
	<br>
	<label>Description: </label>
	<input type="text" class="form-control" placeholder="Description" ng-model="awardCtrl.award.description">
	<br>
	<label>Points: </label>
	<input type="text" class="form-control" placeholder="Points" ng-model="awardCtrl.award.points">
	<br>
	<label>Type: </label>
	<input type="text" class="form-control" placeholder="Type 0 or 1 or 2" ng-model="awardCtrl.award.type">
	<br>
</div>

<!-- RIGHT -->
<div class="rightColumn"  style="width:50%">
	<div style="text-align:center;">
		<div style="text-align:center;">
		<img ng-src="{{awardCtrl.award.image}}" alt="No image" style="width:100%"/>
		<br><br>
		<button class="btn btn-info" type="file" ngf-select="awardCtrl.uploadFiles($file, $invalidFiles)" accept="image/*">UPLOAD IMAGE</button>
	</div>
	</div>
</div>


{%endverbatim%}