{%verbatim%}
<div class="wrapper wrapper-content animated fpromotioneInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <div style="float:left;">
                        <a href="{{'#/campaigns/'+cPromotionsCtrl.id+'/promotions/0'}}" class="btn btn-primary ">Add a new promotion</a>
                    </div>
                    <br><br><br>
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                        <thepromotion>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Points</th>
                            <th>Options</th>
                        </tr>
                        </thepromotion>
                        <tbody>
                        <tr ng-repeat="promotion in cPromotionsCtrl.promotionsList">
                            <td>{{promotion.title}}</td>
                            <td>{{promotion.description}}</td>
                            <td>{{promotion.points}}</td>
                            <td>
                                <a class="dropdown-toggle" data-toggle="dropdown" href={{"#/campaigns/"+cPromotionsCtrl.id+"/promotions/"+promotion.id}}><i class="fa fa-wrench"></i></a>
                                <a class="close-link" ng-click="cPromotionsCtrl.deletePromotion(promotion.id)"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <div style="float: left" class="dataTables_info" id="editable_info" role="status" aria-live="polite">
                            <span ng-show="cPromotionsCtrl.numberOfItems>0">Showing {{cPromotionsCtrl.promotionsCurrentPage*cPromotionsCtrl.perPage-cPromotionsCtrl.perPage+1}} to {{cPromotionsCtrl.promotionsCurrentPage*cPromotionsCtrl.perPage>cPromotionsCtrl.numberOfItems?cPromotionsCtrl.numberOfItems:cPromotionsCtrl.promotionsCurrentPage*cPromotionsCtrl.perPage}} of {{cPromotionsCtrl.numberOfItems}} entries</div></span>
                            <span ng-hide="cPromotionsCtrl.numberOfItems>0">There are no any Promotions</span>
                        <nav style="float: right">
                            <ul class="pagination" ng-show="cPromotionsCtrl.promotionsPages.length>0">
                                <li ng-click="cPromotionsCtrl.promotionsNavPrev()"><a aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li ng-repeat="number in cPromotionsCtrl.promotionsPages" class="{{cPromotionsCtrl.promotionsNavActive(number)}}" id="cPromotionsCtrl.promotionsNav{{number}}" ng-click="cPromotionsCtrl.getPromotions(nsumber)">
                                    <a>{{number}}</a>
                                </li>
                                <li ng-click="cPromotionsCtrl.promotionsNavNext()"><a aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </nav>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endverbatim%}