{%verbatim%} 
<!-- TOP -->
<div style="text-align:right;">
	<button class="btn btn-primary" ng-click="pc.showCampaignAds(adCtrl.campaignNAME, adCtrl.campaignID)">CLOSE EDIT</button>
	<button class="btn btn-danger" ng-click="adCtrl.dismiss()">DISMISS</button>
	<button class="btn btn-success" ng-click="adCtrl.save()">SAVE</button>
	<hr><br><br>
</div>


<!-- LEFT -->
<div class="leftColumn"  style="width:50%">
	<label>Title: </label>
	<input type="text" class="form-control" placeholder="Title" ng-model="adCtrl.ad.title">
	<br>
	<label>Description: </label>
	<input type="text" class="form-control" placeholder="Description" ng-model="adCtrl.ad.description">
	<br>	
	<label>Type: </label>
	<input type="text" class="form-control" placeholder="Type 0 or 1 or 2" ng-model="adCtrl.ad.type">
	<br>
</div>

<!-- RIGHT -->
<div class="rightColumn"  style="width:50%">
	<div style="text-align:center;">
		<!-- <img src="/static/templates/Panel/Campaign/Ads/Ad/imageholder.jpg" alt="Imageholder"/> -->
		<img ng-src="{{adCtrl.ad.image}}" alt="No image"/>
	</div>
</div>


{%endverbatim%}