{%verbatim%} 
<!-- TOP -->
<div style="text-align:right;">
	<button class="btn btn-primary" ng-click="pc.showCampaignAwards(awardCtrl.campaignNAME, awardCtrl.campaignID)">CLOSE EDIT</button>
	<button class="btn btn-danger" ng-click="awardCtrl.dismiss()">DISMISS</button>
	<button class="btn btn-success" ng-click="awardCtrl.save()">SAVE</button>
	<hr><br><br>
</div>


<!-- LEFT -->
<div class="leftColumn"  style="width:50%">
	<label>Title: </label>
	<input type="text" class="form-control" placeholder="Title" ng-model="awardCtrl.award.title">
	<br>
	<label>Description: </label>
	<input type="text" class="form-control" placeholder="Description" ng-model="awardCtrl.award.description">
	<br>
	<label>Points: </label>
	<input type="text" class="form-control" placeholder="Points" ng-model="awardCtrl.award.points">
	<br>
	<label>Type: </label>
	<input type="text" class="form-control" placeholder="Type 0 or 1 or 2" ng-model="awardCtrl.award.type">
	<br>
</div>

<!-- RIGHT -->
<div class="rightColumn"  style="width:50%">
	<div style="text-align:center;">
		<img src="/static/templates/Panel/Campaign/Awards/Award/imageholder.jpg" alt="Imageholder"/>
	</div>
</div>


{%endverbatim%}