<div class="leftColumn"  style="width:25%">
	<button id="campaignMenuItem0" type="button" class="btn btn-default" style="width:100%" ng-click="pc.showCampaignBasic()">Basic informations</button>
	<br><br>
	<button id="campaignMenuItem1" type="button" class="btn btn-default" style="width:100%" ng-click="pc.showCampaignAds()">Advertisements</button>
	<br><br>
	<button id="campaignMenuItem2" type="button" class="btn btn-default" style="width:100%" ng-click="pc.showCampaignSce()">Scenarios</button>
	<br><br>
	<button id="campaignMenuItem3" type="button" class="btn btn-default" style="width:100%" ng-click="pc.showCampaignAwa()">Awards</button>
	<br><br>
</div>